.dockerignore
node_modules
.terraform

# Crash reports from NativeScript
report-ios
report-android

# Compiled NativeScript application resource files
**/*.css
**/*.js
**/*.map
**/*.scss
**/*.less
**/*.ts
**/*.sass

# Compiled TypeScript output
**/*.js.map

# NativeScript snapshots
app/config/snapshots

# Temporary files
*~
*.swp

# Editors & IDEs
.idea
.vscode
*.tmproj
*.sublime*
.DS_Store

# Log files
*.log

# Dependency directories
jspm_packages/
bower_components/

# Compiled binary files
*.apk
*.ipa

# Compiled web assembly files
*.wasm

# Terraform files
.terraform/